*{
    margin: 0px;
}
body{
    background-image: url(assets/bg2.jpg);
    margin: 0;
    padding: 0;
    height: 99vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}   
.p{
    text-align: center;
    justify-content: center;
    justify-self: center;
    color: rgb(0, 180, 150);
    font-size: 44px;
    text-shadow: 2px 2px 2px black;
}
.header{
    margin: 0.1%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid sienna;
    border-radius: 5px;
    height: 44px;
    margin-bottom: 10px;
}
.t{
    font-family: "Roboto Mono";
}
.img1 a img{
    width: 40px;
    height: 40px;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card1{
    padding-top: 2px;
    background-color: #757575;;
    width: 45%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 1%;
}
.img2 img{
    height: 100%;
    border-radius: 20px;
}
.txt1{
    padding-left: 15px;
    font-size: 30px;
}
.btn1{
    height: 80%;
    width: 20%;
    border-radius: 15px;
    background-color: #ff9100;
    transition: all 0.2s;
}
.btn1:hover{
    transition: all 0.2s;
    background-color: #ffee00;
}
@media(max-width: 1300px){
    .p{
        font-size: 20px;
    }
    .card1{
        width: 90%;
        padding: 10px;
    }
    .img2 img{
        width: 100px;
    }
    .txt1{
        font-size: 10px;
    }
}